<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Input</title>

    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{js/footer.js}" src="../static/js/footer.js"></script>
</head>
<body>
<main>
    <h1>Employee</h1>
    <form action="Output.html" th:action="@{Process}">
        <h2>Employee Name</h2>
        <p>
            <label for="name" class="group_label">Employee Name</label><br>
            <input id="name" type="text" th:name="employeeName" />

        </p>

        <h2>Status</h2>
        <p>
            <label for="status">Choose Status:</label>

            <select name="status" id="status">
                <option value="fullTime">Full-Time</option>
                <option value="partTime">Part-Time</option>

            </select>

        </p>

        <p>
            <label><input type="checkbox" th:name="trained">Trained</label>
        </p>
        <p>
            <label><input type="checkbox" th:name="certified">Certified</label>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</main>
</body>
</html>
